.navigation {
    background-color: var(--navigation_background);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    color: white;
}

ul {
    padding: 0;
    list-style: none;
    display: flex;
}

li {
    padding: 10px 15px;
}

.active {
    background-color: #decd0a
}

a {
    text-decoration: none;
    color: var(--navigation_color);
    font-weight: bold;
}